/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Pacifico&family=Raleway:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&family=Spirax&family=Syncopate:wght@400;700&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/*Default Style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    outline:none;
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Pacifico', Regular; */
    /* font-family: 'Bungee Shade'; */
    /* font-family: 'Codystar'; */
    /* font-family: 'Charmonman', Regular; */
    /* font-family: Spirax; */
    /* font-family: 'Dancing Script'; */
    /* font-family: 'Syncopate'; */
    /* font-family: 'Josefin Slab'; */
    font-family: 'Vollkorn';
    /*font-style: italic; */
    font-weight: 400;
}

html {
    font-size: 62.5%; /*=10px (ya que 1 rem=16px, pero quiero que 1rem=10px => 100%*10px/16px=62.5% )*/
}

.section-heading {
    font-size: 11rem;
    /* font-weight: 800; */
    font-weight: 600;
    font-style:italic;
    color: #fff;
    text-align:center;
    text-transform:capitalize;
    letter-spacing: 0.1rem;
    text-shadow:0.3rem 0.3rem 0.9rem #000;
}

.section-heading { /* Borde */
    /* padding: 10px 20px; */
    padding: 3.15rem 12rem 1.45rem 12rem;
    margin: 0 15rem 0 15rem;
    color: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 3px;
    border-width: medium;
    line-height: normal;
    box-shadow:0.2rem 0.2rem 0.8rem #000;  
}
/* End of Default Style */

/* Navbar */
.navbar {
    width: 100%;
    height: 12rem;
    background-color: #000;
    position: fixed;
    top: -14rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 0.2rem #000;
    transition: top 0.4s;
}

.navbar.change {
    top: 0;
    transition: top 0.4s 0.2s;
}

.navbar-link {
    color: #aaa;
    margin: 0 4rem ;
    padding: 0 1.9% 0 1.9%; /* espacio entre iconos del navbar*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: color 0.3s, opacity 0.2s;
}

.change .navbar-link {
    opacity: 1;
}

.change .navbar-link:nth-child(1){
    transition: opacity 0.4s 0.5s, color 0.3s;
}

.change .navbar-link:nth-child(2){
    transition: opacity 0.4s 0.6s, color 0.3s;
}

.change .navbar-link:nth-child(3){
    transition: opacity 0.4s 0.7s, color 0.3s;
}

.change .navbar-link:nth-child(4){
    transition: opacity 0.4s 0.8s, color 0.3s;
}

.change .navbar-link:nth-child(5){
    transition: opacity 0.4s 0.9s, color 0.3s;
}

.navbar-link:hover {
    color: #eee;
}

.navbar-link i {
    font-size: 5.8rem;
}

.navbar-link span {
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-top: 0.5rem;
}

.menu {
    width: 4rem;
    height: 6rem;
    background-color: #000;
    position: fixed;
    top: 1rem;
    left: 4.5rem;
    border-radius: 30rem 30rem 15rem 15rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #000, -0.1rem, -0.1rem -0.1rem #000;
    cursor: pointer;
    z-index: 100;
    transition: top 0.4s 0.2s;
}

.menu.change {
    top: 15rem;
    transition: top 0.4s;
}

.menu::before {
    content: "";
    width: 0.3rem;
    height: 13.2rem;
    background-color: #000;
    position: absolute;
    top: -13.2rem;
    left: calc(50% - 0.15rem);
    box-shadow: 0.1rem 0 0.1rem #000;
}

/* End of Navbar */

/* Section 1 */
.section-1 {
   /* width:100%; */
    height: 100vh; /*100% viewport*/
    
    max-width: 100%;
    background-image: url('/images/background_wood_decking-grey.jpg');
    background-color: #333;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.section-1 h1 {
    margin-bottom: 9rem;
}

.section-1-icons i {
    font-size:23rem;
    color:#a79a2d;
    position:absolute;
    transform:translate(-50%,-50%) scale(0);
    text-shadow:0.2rem 0.2rem 0.8rem #000;
    transition: transform .3s;

    padding: 0 0 9rem 0;
}

.section-1-icons i.change {
    transform: translate(-50%,-50%) scale(1);
    transition: transform .3s .3s;
}
/* End of Section 1*/

/* Section 2 */
.section-2 {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 0;

    align-items: center;

    height: 104vh; 
    max-width: 100%;
    background-image: url('/images/footer_lodyas.png');
    background-repeat: repeat;
    background-color: #222;
    background-attachment: fixed;
    background-size: cover;
}

/* .section-2 h1.section-heading {
    padding: 3.15rem 50px 1.45rem 0;
} */

.section-2 {
    height: auto;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.cards-container {
        margin-top: 10rem;
    }

.card {
    width: 30rem;
    background-color: #a79a2d;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);
    transition: transform 0.5s, box-shadow 0.5s;
}

.card {
    margin: 5rem;
}

.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
}

.card::before{
    content: "";
    height: 100%;
    width: 1rem;
    background-color: #817824;
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card::after{
    content: "";
    height: 1rem;
    width: 100%;
    background-color: #8f8317;
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card-img {
    width: 100%;
}

.card-name {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: #111;
    margin: 2rem 0;
}

.card-btn {
    width: 70%;
    background-color: #111;
    color: #888;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-transform: capitalize;
    border: none;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: -0.2rem -0.2rem -0.2rem #000;
}
/* End of Section 2 */

/* Section 3 */
.section-3 {
    max-width: 100%;
    background-image: url('/images/background_wood_decking-grey.jpg');
    background-color: #333;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    padding: 8.5rem 0 6rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 7rem;
}

.gallery-link {
    position: relative;
    margin: 4rem 1rem;
}

.gallery-link::before {
    content: "";
    position: absolute;
    top: 2vw;
    left: 80%;
    width: 0.2rem;
    height: 0;
    background-color: #fff;
    z-index: 10;
    transition: height 0.5s;
}

.gallery-link:hover::before {
    height: 80%;
}

.gallery-link::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 2rem;
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    transition: width 0.5s;
}

.gallery-link:hover::after {
    width: 90%;
}

.food-img {
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    box-shadow: .3rem .3rem .1rem #b91b1b;
}

.gallery-link:hover .food-img {
    box-shadow: 0.6rem 0.6rem .1rem #b91b1b;
    filter: blur(0.2rem);
    opacity: 0.3;
    transform: scale(1.1);
    transition: 0.6s;

    filter: brightness(55%);
}

.food-name {
    position: absolute;
    top: 3rem;
    left: 2rem;
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.gallery-link:hover .food-name {
    width: 100%;
    transition: width 1.3s 0.35s;
}

.food-description {
    position: absolute;
    bottom: 3.1rem;
    left: 2rem;
    width: 70%;
    font-size: 1.55rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    
    /* margin: 10rem 0 0 0;
    padding: 10rem 0 0 0;
    text-align: ;
    text-justify: ;
    */
}

.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 0.35s;
}
/* End of Section 3 */

/* Section 4 */
.section-4 {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 0;
    position: relative;

    max-width: 100%;
    background-image: url('/images/footer_lodyas.png');
    background-repeat: repeat;
    background-color: #222;
    background-attachment: fixed;
    background-size: cover;
}

.section-4-text {
    text-transform: uppercase;
}

.section-4-heading {
    font-size: 3.2rem;
    font-weight: 800;
    color: #a79a2d;
}

.section-4-paragraph {
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    color: rgb(170, 164, 164);
}

.signup-form {
    display: flex;
    align-items: center;
}

.signup-form-input {
    width: 33rem;
    height: 4.2rem;
    padding: 1rem;
    border: 0.2rem solid #a79a2d;
    font-size: 1.7rem;
    font-weight: 650;
    letter-spacing: 0.1rem;
    color: #a79a2d;   
}

.signup-form-input::placeholder {
    color: #a79a2d;
}

.signup-form-btn {
    position: relative;
    left: -4rem;
    width: 3.6rem;
    height: 3.4rem;
    background-color: #333;
    color: #a79a2d;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.copyright  {
    position: absolute;
    bottom: 3rem;
    font-size: 1.42rem;
    font-weight: 200;
    color: rgb(218, 214, 214);
    letter-spacing: 0.1rem;
    border-top: 0.1rem solid #888;
    padding-top: 3.8rem;
    width: 100%;
    text-align: center;
}

.copyright a:link {
    color:  rgb(218, 214, 214);
}

.copyright a:visited {
    color: white;
}

.copyright a:hover, .copyright a:active {
    color: #a79a2d;
}

/* End of Section 4 */


/* Responsive */
@media(max-width: 1400px){
    html {
        font-size: 50%;
    }

    .section-2 {
        height: auto; 
        padding: 10rem 0 16rem 0;
    }

    .cards-container {
        margin-top: 10rem;
    }

    .gallery-link {
        width: 40rem;
        height: 25rem;
        margin: 5rem;
    }

    .food-img {
        width: 100%;
        height: 100%;
    }

    .section-4 {
        height: 25rem;
    }
}

@media(max-width: 1000px) {
    .section-heading {
        font-size: 9.5rem;
    }

    .section-1-icons i {
        font-size: 22rem;
    }
    
    .cards-container {
        flex-wrap: wrap;
    }

    .card {
        margin: 5rem;
    }

}

@media(max-width:900px) {
    .navbar-link {
        margin: 2rem;
    }

    .navbar-link i {
        font-size: 4.3rem;
    }

    .navbar-link span {
        font-size: 2rem;
    }
}

@media(max-width:700px) {
    .section-heading {
        font-size: 7.5rem;
        margin: 0 10rem;
    }

    .section-1-icons i {
        font-size: 20rem;
    }

    .menu {
        left: 2rem;
        z-index: 90;
    }

    .section-4 {
        height: 35rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .section-4-text  {
        margin-bottom: 5rem;
        text-align: center;
    }

    .signup-form {
        display: flex;
        flex-direction: column;    
    }

    /*.signup-form-input {  */
      /* justify-content:center; */
      /* align-items: center; */
      /* align-content: center; */
        
      /* text-align: center; */
     

    .signup-form-btn {
        position:relative;
        top: -3.75rem;
        left: 14.3rem;
        width: 3.6rem;
        height: 3.4rem;
    }
}

@media(max-width:550px) {
    html {
        font-size: 40%;
    }

    .menu {
        left: 1.5rem;
        z-index: 90;
    }

    .menu.change {
        top: 14rem;
    }

    .navbar-link {
        margin: 0 0.7rem;
        font-size: 1rem;
    }

    .navbar-link i {
        font-size: 3.5rem;
    }

    .navbar-link span {
        font-size: 1.7rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
    }

}

/* End of Responsive */





